Consider how to sign security.txt files intuitively

Branched out from #52 

<hr>

As introduced by securitytxt/security-txt#140, the `Signature:` directive is being replaced with inline signatures:

> It is RECOMMENDED that a security.txt file be digitally signed
using an OpenPGP cleartext signature as described in
section 7 of {{!RFC4880}}. When digital signatures are used, it is also
RECOMMENDED that implementors use the "Canonical" directive as per {{canonical}},
thus allowing the digital signature to authenticate the location of the file.
>
> When it comes to verifying the key used to generate the signature, it is always
the security researcher's responsibility to make sure the key being
used is indeed one they trust.

I don't think it's okay to have the private key anywhere near the source code of the user, and I also think our package shouldn't need to even see the user's private key

I think we should provide a CLI for people to generate security.txt files. They can then use other tools to sign it and use existing methods to serve the file (or even add something to our library so that it can serve static files, and we could even validate the imported file).

Hello! As an individual who has just read through the website, I found it ambiguous as to how I was supposed to sign it - specifically where the signature should go. At the bottom of the file? In a different file? if a different file, what should it be called? `security.txt.gpg`? `security.txt.asc`? `security.txt.sig`?

@sbrl looks like this is how you should do it per the spec at this point: https://github.com/securitytxt/security-txt/blob/9f5701ba4108e57a319e9222834759bf32cb74e9/archived/draft-foudil-securitytxt-12.txt#L291-L302

Care to update the docs/library here accordingly?

@lirantal that's precisely the bit that I'm finding unclear actually. It claims `that a "security.txt" file be digitally signed
   using an OpenPGP cleartext signature as described in section 7 of
   [RFC4880].`, but does not infact state precisely where such a signature should be placed on disk. Should it be appended to `security.txt`? or placed in a different file? If a different file, what should it be called?


The signed file should still be in `/.well-known/security.txt`, Section 7 of RFC4880 explains a way of including both a signature and the original cleartext file visible in the same place.

An example of a signed security.txt file is available in [the specification](https://github.com/securitytxt/security-txt/blob/9f5701ba4108e57a319e9222834759bf32cb74e9/archived/draft-foudil-securitytxt-12.txt#L531-L554)

Thanks for the reference @joker314 

@sbrl if you find it helpful perhaps consider PRing an update to the README of this package so that reiterates this information for other users?

Ah, thanks for clarifying @joker314! I think I understand now. Is that something that must be hand-assembled, or is there a way to do it automatically e.g. with the `gpg` command line?

@lirantal: Huh, that's weird. I didn't realise this was a package that implements the standard - rather I thought it was a repo for the standard itself - so unfortunately I've never used this package and as such have no idea how to improve the README. Sorry!

@sbrl it's indeed up to you to create the signature. You can use a tool like gpg, or openssl, depending on what exactly is your signature and how you sign it.

No worries about the README. Interesting you thought this was the standard's repo 🙃